
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
overflow-x: hidden;
font-family: "Cairo";
font-size: 16px;
}
h1,h2,h3,h4,h5,h6{
    margin: 0 ;
    padding: 0 ;

    cursor: pointer;

}
ul{
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}
a{
text-decoration: none;
}

input{
    text-align: center;
    width: 40%;
}  


/* Start Header */
h4{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: wheat;
}

header{
position: relative;
z-index: 1000 !important;

}
header nav {
height: 100%;
}


header h4{
    cursor: pointer;
}
header .container nav ul li a.active {
    background-color: #0dcaf0;
    color: #21325e !important;
    padding: 5px 10px !important;
    border-radius: 7px;
}

/* End Header */


div#columnData h4 {
    color: #21325E !important;
}

div#columnData div.field label{
white-space: nowrap !important ;
margin-left: 20px;
color: #21325E !important;
width: 50px;
}